/* Navbar */
#navbarHome {
  position: relative;
  text-align: center;
  bottom: 65px;
}

a {
  color: white;
}

a:hover {
  color: #2fdad1;
}
/* JumbotronHome */
#homejumbo{
  height: 100vh;
  background: linear-gradient(rgba(75, 74, 74, 0.9), rgba(75, 74, 74, 0.9)), url('https://lh3.googleusercontent.com/proxy/LbxjioPkqmppvjJfuAyYOaV08EE1RFimc6vOgsv0IFRRmddn3VDC0rtoqsKan9eJz-c4EpNBL6631sV-dDlqsZAz-i2ZE5ogNibhlwtnFEeMgxrSIkqxyIDFyxX-Wlv6b_fBgW_ITv5-fnwro7VM');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #FCFFFC;
  border-bottom: 4px solid #2fdad1;
  border-top: 4px solid #2fdad1;
  margin-bottom: 0;
}

#jumbotext{
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Footer */